.note-list {
  padding: 0.8em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  h2 {
    color: $secondary-color;
  }
}

.note-list::-webkit-scrollbar {
  display: none;
}

.btn-add {
  margin: 0 auto;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0.8em;
  background: #282c34;
  color: #61dafb;
  border-radius: 4px;
  padding: 0.8em;

  &:hover {
    background: #61dafb;
    color: #282c34;
    cursor: pointer;
  }
}